.App {
  display: flex;
  flex-direction: column;
}
.App-header {
  flex-grow: 0;
  position: sticky;
  top: 0;
}
.App-content {
  flex-grow: 1;
  padding-top: var(--layout-gutter);
  padding-bottom: var(--layout-gutter);
}
.App-uploader {
  position: fixed;
  bottom: 2em;
  right: 2em;
}
