:root .theme-light-grey {
  background-color: var(--color-light-grey);
  color: var(--color-text);
}
:root .theme-grey {
  background-color: var(--color-grey);
  color: var(--color-text);
}
:root .theme-white {
  background-color: var(--color-white);
  color: var(--color-text);
}
:root .theme-black {
  background-color: var(--color-black);
  color: var(--color-white);
}
:root .theme-blue {
  background-color: var(--color-blue);
  color: var(--color-white);
}
